<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<div th:fragment="top">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="">회원가입</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">강의 목록</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">수강 신청</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
</html>